i {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding-right: 0.1rem;
  letter-spacing: 0.5rem;
  color: #d3d3d3;
}

.filled {
  color: yellow;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filled-heart {
  color: red;
}

.card-img-top{
  height: 260px;
  width: 192px;
  object-fit: fill;
}

.max-width{
  max-width: 10rem;
}

.card-width{
  width: 16rem;
}

