i {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  padding-right: 0.1rem;
  letter-spacing: 0.5rem;
  color: #d3d3d3;
}

.filled {
  color: yellow;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filled-heart {
  color: red;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card-img-top{
  max-height: 350px;
}

.max-width{
  max-width: 16rem;
}

.card-width{
  width: 16rem;
}
