<div class="container">
  <div class="row">
    <div class="col-md-4 col-12 p-0 pe-2 text-center">
      <i class="bi bi-geo-alt icon-permission"></i>
    </div>
    <div class="col-md-8 col-12">
      <form class="row" [formGroup]="permissionForm" #formDir="ngForm">
        <h4>Permissão de rota</h4>

        <div class="col-md-12 pb-2">
          <label for="name" class="form-label">Nome</label>
          <input class="form-control"  id="name"
            name="name" formControlName="name">
          <div *ngIf="name?.errors?.['required'] && formDir.submitted" class="text-danger">
            Campo Obrigatório
          </div>
        </div>
        <div class="col-md-12 pb-2">
          <label for="url" class="form-label">URL</label>
          <input class="form-control" id="url"
            name="url" formControlName="url">
          <div *ngIf="url?.errors?.['required'] && formDir.submitted" class="text-danger">
            Campo Obrigatório
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <button class="btn btn-light" (click)="cancel()">Cancelar</button>
          </div>
          <div class="col d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary" (click)="save()">Salvar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

