<div class="m-2 rounded bg-dot h-100">
  <div class="container rounded">
    <div class="row m-0 p-4 text-center">
      <h3>Relatório de falhas e sugestões</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col-2">
        <button class="btn btn-outline-secondary" (click)="newReport()">Relatar falha </button>
      </div>
    </div>
    <div class="row pt-2">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">ID Book</th>
            <th scope="col">Criado em</th>
            <th scope="col">Status</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reportList">
            <td>{{item.id}}</td>
            <td>{{item.description}}</td>
            <td>{{item.book_id === null? "Não informado" : item.book_id }}</td>
            <td>{{handleDate(item.createdAt)}}</td>
            <td>{{handleStatus(item.status)}}</td>
            <td >
              <a href="javascript:;" type="button" (click)="editReport(item.id)"> <i class="bi bi-pencil-square"></i></a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

