.rowCustom {
  height: 80vh;
}

.bg-card {
  background-color: #e4e4e4;
}

.i-detail {
  position: relative;
  display: inline-block;
  font-size: 1.7rem;
  padding-right: 0.1rem;
  letter-spacing: 0.6rem;
  color: #f0f0f0;
}

.filled {
  color: yellow;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filled-heart {
  color: red;

}

.badge-hover:hover {
  text-decoration: none;
  color: #303030;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.example-chip-list {
  width: 100%;
  height: 68px;
}

.bg-chip {
  background-color: white;
}

mat-chip {
  display: inline-block;
}

.no-wrap {
  flex-wrap: nowrap;
  overflow: auto;
  display: block;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-wrap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.size_iPlus{
  font-size: 1rem;
}

.msgError{
  color: red;
}

.scrollCard{
  overflow: auto;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

