<div class="container mt-4">
  <div class="badge rounded-pill text-bg-primary" [hidden]="myVar">
    <span>Fantasia</span>
    <i class="bi bi-x badge-hover" (click)="toggleTeste()"></i>
  </div>
  <form class="card bg-card p-4" [formGroup]="bookForm" #formDir="ngForm">
    <div class="row text-center">
      <h2>Minhas Anotações</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-8 d-flex justify-content-end pe-5">
            <ng-template #t let-fill="fill">
              <i class="bi-star-fill">
                <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
              </i>
            </ng-template>

            <ngb-rating [(rate)]="book.rating" [starTemplate]="t" [readonly]="false" [max]="5"
              [ariaValueText]="ariaValueText"></ngb-rating>
          </div>
          <div class="col-4">
            <ng-template #heart let-fill="fill">
              <i class="bi-heart-fill">
                <i *ngIf="fill > 0" class="bi-heart-fill filled-heart" [style.width.%]="fill"></i>
              </i>
            </ng-template>

            <ngb-rating [(rate)]="book.favorite" [starTemplate]="heart" [readonly]="false" [max]="1"
              [ariaValueText]="ariaValueText"></ngb-rating>
          </div>
        </div>
        <div class="row">
          <img class="w-50 mx-auto" [src]="book.thumbnail" alt="thumbnail">
        </div>
        <div class="row p-4">
          <label for="authors" class="form-label">Sinopse </label>
          <textarea class="form-control" placeholder="Leave a comment here" id="description"
            formControlName="description" style="height: 100px"></textarea>
          <!-- <div [innerHtml]="html_string"></div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 pb-2">
            <label for="title" class="form-label">Título
            </label>
            <input type="text" class="form-control" id="title" formControlName="title" name="title" maxlength="50">
            <div *ngIf="title?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>
          <div class="col-md-12 pb-2">
            <label for="subtitle" class="form-label">Subtítulo
            </label>
            <input type="text" class="form-control" id="subtitle" formControlName="subtitle" name="subtitle"
              maxlength="50">

          </div>
          <div class="col-md-12 pb-2">
            <label for="authors" class="form-label">Autores
            </label>
            <input type="text" class="form-control" id="authors" formControlName="authors" name="authors"
              maxlength="50">
            <div *ngIf="authors?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>
          <div class="col-md-12 pb-2">
            <label for="publisher" class="form-label">publisher
            </label>
            <input type="text" class="form-control" id="publisher" formControlName="publisher" name="publisher"
              maxlength="50">
            <div *ngIf="authors?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>

          <div class="col-md-12 pb-2">
            <label for="authors" class="form-label">Data de publicação
            </label>
            <div class="row row-cols-sm-auto">
              <div i18n class="col-12">
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="d2" formControlName="release_dt"
                    ngbDatepicker #d2="ngbDatepicker" />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                    type="button"></button>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="pages" class="form-label">Páginas
            </label>
            <input type="text" class="form-control" id="pages" formControlName="pages" name="pages" maxlength="50">
            <div *ngIf="pages?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="id" class="form-label">ISBN 10
            </label>
            <input type="text" class="form-control" id="id" formControlName="id" name="id" maxlength="10">
            <div *ngIf="id?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>
        </div>

        <div class="col-md-12 pb-2">
          <label for="themes" class="form-label">Temas
          </label>
          <input type="text" class="form-control" id="themes" formControlName="themes" name="themes">
          <div *ngIf="themes?.errors?.['required'] && formDir.submitted" class="msgError">
            Campo Obrigatório
          </div>
        </div>

      </div>

    </div>

    <div class="row mt-4">
      <div class="col">
        <button class="btn btn-light" (click)="cancel()">Cancelar</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-primary" (click)="save()">Salvar</button>
      </div>
    </div>
    <label class="image-upload-container btn btn-bwm">
      <span>Select Image</span>
      <input #imageInput
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)">
    </label>
  </form>
</div>
