<div class="container mt-4">
  <div class="card bg-card p-4">
    <div class="row text-center">
      <div class="col-12 mb-2">
        <h2>Sobre o livro </h2>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-8 d-flex justify-content-end pe-3">
            <ng-template #t let-fill="fill">
              <i class="bi-star-fill i-detail">
                <i *ngIf="fill > 0" class="bi-star-fill filled i-detail" [style.width.%]="fill"></i>
              </i>
            </ng-template>

            <ngb-rating [(rate)]="annotationObj.rating" [starTemplate]="t" [readonly]="false" [max]="5" [formControl]="rateCtrl"
              [ariaValueText]="ariaValueText"></ngb-rating>
          </div>
          <div class="col-3">
            <a title="Favoritar o livro" href="javascript:;" (click)="toggleFavorite()" >
              <i class="bi-heart-fill i-detail" [class]="annotationObj.favorite == 1? 'filled-heart' : ''"></i>
            </a>
          </div>
        </div>
        <div class="row text-center">
          <img class="w-50 mx-auto" [src]="book.thumbnail" alt="thumbnail">
        </div>
        <div class="row">
          <h4>Sobre o livro <a title="Editar informações do livro" href="javascript:;" (click)="editBook(book.id)">
              <i class="bi bi-pencil-square"></i>
            </a></h4>
          <div class="col-md-12  ">
            <p class=" text-muted text-capitalize mb-1">
              <span class="fw-semibold">Título: </span>
              {{book.title}}
            </p>

          </div>
          <div class="col-md-12  " *ngIf="book.subtitle != ''">
            <p class=" text-muted text-capitalize mb-1">
              <span class="fw-semibold">Subtítulo: </span>
              {{book.subtitle}}
            </p>
          </div>
          <div class="col-md-12  ">
            <p class="fw-semibold text-muted mb-1">Autores:
              <span class="fw-normal" *ngFor="let author of book.authors">
                {{author.name + "; "}}
              </span>
            </p>

          </div>


          <div class="col-md-6  ">
            <p class=" text-muted text-capitalize mb-1">
              <span class="fw-semibold">Editora: </span>
              {{book.publisher}}
            </p>
          </div>

          <div class="col-md-6  ">
            <p class=" text-muted mb-1">
              <span class="fw-semibold">Publicação: </span>
              {{book.release_dt}}
            </p>
          </div>

          <div class="col-md-6  ">
            <p class=" text-muted mb-1">
              <span class="fw-semibold">Páginas: </span>
              {{book.pages}}
            </p>
          </div>

          <div class="col-md-6  ">
            <p class=" text-muted mb-1">
              <span class="fw-semibold">ISBN 13: </span>
              {{book.isbn_13}}
            </p>
          </div>


          <div class="col-md-6  ">
            <p class="fw-semibold text-muted mb-1">Gênero:
              <span class="fw-normal" *ngFor="let theme of book.themes">
                {{theme.name + "; "}}
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <p class="fw-semibold text-muted">Sinopse:</p>
          <div class="card scrollCard" style="height: 160px">
            <p class="text-wrap" placeholder="Escreva um resumo do livro aqui 😄" id="description"
              style="height: 100px">
              {{book.description}}</p>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <form class="row" #f="ngForm">
          <h4>Minhas Anotações</h4>

          <div class="col-md-12 pb-2">
            <label for="review" class="form-label">Citação/ avaliação </label>
            <textarea class="form-control" placeholder="Escreva uma citação do livro aqui 😄" id="review" name="review"
              [(ngModel)]="annotationObj.review" style="height: 200px"></textarea>
          </div>

          <div class="col-md-6 pb-2">
            <label for="dpFromDate" class="form-label">Data de Início
            </label>
            <div class="dp-hidden position-absolute">

              <div class="input-group">
                <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                  [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="b"
                  outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" [maxDate]="maxDate" />
                <ng-template #b let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>

            <div class="input-group">
              <input #dpFromDate class="form-control" placeholder="dd/mm/yyyy" name="dpFromDate"
                [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
                type="button"></button>
            </div>
          </div>
          <div class="col-md-6 pb-2">
            <label for="dpToDate" class="form-label">Data de Fim
            </label>
            <div class="input-group">
              <input #dpToDate class="form-control" placeholder="dd/mm/yyyy" name="dpToDate"
                [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
                type="button"></button>
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="pages_read" class="form-label">Páginas lidas
            </label>
            <input type="number" class="form-control" id="pages_read" [(ngModel)]="annotationObj.pages_read"
              name="pages_read" maxlength="14" (change)="pages_readChanged()" max="{{book.pages}}" min="0">
          </div>
          <div class="col-md-6 pb-2">
            <label for="percent" class="form-label">Porcentagem
            </label>
            <div class="input-group">
              <input type="number" class="form-control" id="percent" [(ngModel)]="annotationObj.progress" name="percent"
                maxlength="14" (change)="percentChanged()" max="100" min="0">
              <span class="input-group-text">%</span>
            </div>
          </div>
          <div class="col-md-12 pb-2">
            <label for="progress" class="form-label">Progresso
            </label>
            <ngb-progressbar type="secondary" textType="light" [value]="annotationObj.progress"
              [showValue]="true"></ngb-progressbar>
          </div>
          <div>
            <label for="author" class="form-label">Tags
              <a title="Adicionar autores" href="javascript:;" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="Adicionar autores" class="ms-1">
                <i class="bi bi-plus-circle size_iPlus text-primary"></i>
              </a>
            </label>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <input class="form-control ms-0" placeholder="Adicionar tag..." #authorInput [formControl]="tagCtrl"
                [matChipInputFor]="chipGridTag" [matAutocomplete]="autoTag"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTag($event)"
                matAutocompletePosition='above' />
              <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="selectedAuthor($event)"
                [displayWith]="displayFnTag">
                <ng-container *ngFor="let author of filteredTags | async">
                  <mat-option [value]="author" *ngIf="!isTagSelected(author)">
                    {{author.name}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>
            <div class="mt-1 pb-2">
              <div class="example-chip-list no-wrap card">
                <mat-chip-grid #chipGridTag aria-label="Seleção de tags" class="no-wrap">
                  <mat-chip-row *ngFor="let author of selectedTags" (removed)="removeTag(author)">
                    {{author.name}}
                    <button matChipRemove [attr.aria-label]="'remove ' + author">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="row mt-4">
      <div class="col">
        <button class="btn btn-light" (click)="cancel()">Cancelar</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-secondary" (click)="save(f)">Salvar</button>
      </div>
    </div>
    <!-- <label class="image-upload-container btn btn-bwm">
      <span>Select Image</span>
      <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
    </label> -->
  </div>
</div>
