<div class="container-explorer mx-4 my-2 rounded">
  <div class="row d-flex justify-content-center p-2">
    <div class="col-3"></div>
    <div class="col-md-6">
      <!-- <label for="title" class="form-label">Procurar
      </label>
      <div class="d-flex">
        <input type="text" class="form-control" id="titleSearch" name="titleSearch"
          aria-label="Procurar por título" matInput [formControl]="titleSearchCtr" [matAutocomplete]="auto"
          placeholder="Nome do livro" (keyup.enter)="searchBook()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <button class="btn btn-dark ms-2" (click)="searchBook()">
          <i class="bi bi-search"></i>
        </button>

      </div> -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 col-6">
    </div>

  </div>
  <div class="row justify-content-center mx-2">
    <aside class="col-md-3 h-75 rounded ">
      <div>
        <div class="header-filter row rounded">
          <div class="col-9 d-flex align-items-center">
            <h4 class="pt-2">Filtro</h4>
          </div>
          <div class="col-3 d-flex align-items-center justify-content-end">

          </div>
        </div>
        <h5 class="m-2">Gênero</h5>
        <a class="row m-2" type="button" title="{{themeSch.name}}" href="javascript:;"
          *ngFor="let themeSch of themeList" (click)="filterSideTheme(themeSch)">
          {{themeSch.name}}
        </a>
      </div>
      <div>
        <div class="header-filter row rounded">
          <div class="col-9 d-flex align-items-center">
            <a [routerLink]="['/booklovers/my-list']" href="javascript:;">
              <h4 class="pt-2">Tag</h4>

            </a>
          </div>
          <div class="col-3 d-flex align-items-center justify-content-end">
            <a class="row" title="Adicionar gênero" href="javascript:;" (click)="open(contentTag)">
              <i class="bi bi-plus-circle"></i>
            </a>
          </div>
        </div>
        <a class="row m-2" type="button" title="{{tag.name}}" href="javascript:;" *ngFor="let tag of tagList"
          (click)="filterSideTag(tag)">
          {{tag.name}}
        </a>

      </div>

    </aside>


    <article class="col-md-9 bg-grade page-break" id="contentToConvert">
      <div class="row" id="header-file">

        <h3><a type="button" title="Meus livros" href="javascript:;" (click)="clearFilter()">Meus livros</a></h3>
        <h5 *ngIf="(objSelect.id === null); else blockElse">
          Todos os livros
        </h5>
        <ng-template #blockElse>
          <h5>{{objSelect.name}}<a type="button" title="{{objSelect.name}}" href="javascript:;"
              *ngIf="objSelect.type != 'theme'" (click)="objSelect.type == 'tag'? open(contentTag) : '' ">
              <i class="bi bi-pencil-square"></i>
            </a></h5>

        </ng-template>
        <hr>
      </div>
      <div class="row justify-content-end" data-html2canvas-ignore>
        <div class="col-3">
          <button (click)="exportPDF()" class="btn btn-outline-secondary" style="min-width: 120px;">
            <ng-container *ngIf="!isLoadingPdf; else templateLoad">
              Exportar em PDF
            </ng-container>
            <ng-template #templateLoad>
              <div class="spinner-border text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-template>
          </button>
        </div>
      </div>
      <div class="row" *ngIf="bookList.length > 0; else elseBlock">

        <div *ngFor="let books of booksSection" class="book-section row" name="book-section">
          <div class="col-md-6 col-12 d-flex justify-content-evenly my-1 " *ngFor="let book of books">
            <app-card-box-h [book]="book" [annotation]="book.annotation" [tags]="book.annotation.tags"></app-card-box-h>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="d-flex flex-column text-center mt-3">
          <h5>Sem livros ainda :)</h5>
          <p>Selecione seus livros preferidos em Explorar</p>

        </div>
      </ng-template>
    </article>
  </div>
</div>

<ng-template #contentTag let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Minha Tag</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="tagForm">
      <div class="mb-3">
        <div class="col-md-12 pb-2">
          <label for="title" class="form-label text-center">Título
          </label>
          <input type="text" class="form-control" id="title" formControlName="title" name="title" maxlength="50">

        </div>
        <!-- <div class="col-md-3 pb-2">
          <label for="title" class="form-label">Color
          </label>
          <input type="color" class="form-control" id="colorInput" formControlName="colorInput" name="colorInput">
        </div> -->
      </div>

    </form>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-danger" (click)="deleteTag(contentTag)"
      *ngIf="objSelect.id != null">Deletar</button>
    <button type="button" class="btn btn-outline-dark" (click)="saveTag(contentTag)">Salvar</button>
  </div>
</ng-template>
