<!-- *ngIf="!isLogin" -->
<div *ngIf="isShowHeader">
  <nav class="navbar navbar-expand-lg navbar-dark bg-gray mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/booklovers/home']">Booklovers</a>

      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-between">
        <div class="navbar-nav">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/booklovers/home']">Home</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/booklovers/my-books']">Meus livros</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/booklovers/explorer']">Explorar</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/booklovers/my-goals']">Desafios</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/booklovers/statistic']">Estatísticas</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/booklovers/adm/report-failure-list']"
            *ngIf="isAdm">Gerenciamento</a>




          <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="nav-link" type="button" (click)="logout()">Logout</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div> -->
        </div>
        <div ngbDropdown class="d-inline-block" display="dynamic">
          <button type="button" class="btn btn-outline-light" id="dropdownBasic2"
            ngbDropdownToggle>{{usernameLabel}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem (click)="open(contentUser)">Meu cadastro</button>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<ng-template #contentUser let-modal>
  <div class="modal-header">

    <h4 class="modal-title" id="modal-basic-title">Meu cadastro</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" #formDir="ngForm">
      <div class="mb-3">
        <div class="col-md-12 pb-2">
          <label for="name_user" class="form-label text-center">Nome
          </label>
          <input type="text" class="form-control" id="name_user" formControlName="name_user" name="name_user"
            maxlength="50">
          <div *ngIf="name_user?.errors?.['required'] && formDir.submitted" class="text-danger ">
            <small>Campo Obrigatório </small>
          </div>
        </div>
        <div class="col-md-12 pb-2">
          <label for="username" class="form-label text-center">Usuário
          </label>
          <input type="text" class="form-control text-lowercase" id="name" formControlName="username" name="username" maxlength="50">
          <div *ngIf="username?.errors?.['required'] && formDir.submitted" class="text-danger ">
            <small>Campo Obrigatório </small>
          </div>
        </div>
        <div class="col-md-12 pb-2">
          <label for="email" class="form-label text-center">E-mail
          </label>
          <input type="text" class="form-control text-lowercase" id="email" formControlName="email" name="email" maxlength="50">
          <div *ngIf="email?.errors?.['required'] && formDir.submitted" class="text-danger">
            <small>Campo Obrigatório </small>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center py-2 d-flex justify-content-center " *ngIf="!isGg">
        <a class="alert-link" role="button" (click)="open(contentCngPwd)">Alterar senha</a>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-danger" (click)="deleteUser(contentUser)">Deletar minha conta</button>
        <button type="submit" class="btn btn-outline-dark" (click)="saveUser(contentUser)">Salvar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentCngPwd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atualização da senha</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="row g-3" [formGroup]="passwordForm" #formDirPwd="ngForm" autocomplete="off">
      <div class="col-md-12">
        <label for="pwdCurrent" class="form-label">Senha atual

        </label>
        <input type="password" class="form-control" id="pwdCurrent" formControlName="pwdCurrent" maxlength="50"
          name="pwdCurrent">
        <div *ngIf="pwdCurrent?.errors?.['required'] && formDirPwd.submitted" class="text-danger ">
          <small>Campo Obrigatório</small>

        </div>
      </div>
      <div class="col-md-12">
        <label for="passwordUser" class="form-label">Senha nova

        </label>
        <input type={{typePwd}} class="form-control" id="passwordUser" formControlName="passwordUser" maxlength="50"
          name="passwordUser">
        <div *ngIf="passwordUser?.errors?.['required'] && formDirPwd.submitted" class="text-danger ">
          <small>Campo Obrigatório </small>
        </div>
        <div *ngIf="passwordUser?.errors?.['pattern'] && formDirPwd.submitted" class="text-danger">
          <small>
            A senha deve conter ao menos um número,
            uma letra maiúscula,
            um caracter especial e ter no mínimo 8 caracteres. Não deve conter espaços
          </small>
        </div>
      </div>
      <div class="col-md-12">
        <label for="confirmPwd" class="form-label">Confirmação da senha
        </label>
        <input type={{typePwd}} class="form-control" id="confirmPwd" formControlName="confirmPwd" maxlength="50"
          name="confirmPwd">
        <div *ngIf="confirmPwd?.errors?.['required'] && formDirPwd.submitted" class="text-danger ">
          <small>Campo Obrigatório </small>
        </div>
        <div *ngIf="passwordForm.errors?.['PasswordNoMatch']&& formDirPwd.submitted" class="text-danger ">
          <small>As senhas são diferentes </small>
        </div>
      </div>
      <div class=" col-md-12 d-flex justify-content-between">
        <div class=" d-flex justify-content-end">
          <p class="pt-2 mr-2">Visualizar senhas</p>
          <a class="pt-1 ml-2" title="Visualizar senha" href="javascript:;" (click)="togglePwd()" role="button"
            disabled="isReadOnly">
            <mat-icon aria-hidden="false" aria-label="Visualizar senha" fontIcon={{visibPwd}}></mat-icon>
          </a>
        </div>
      </div>

      <div class="modal-footer button-container">
        <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancelar</button>
        <button type="submit" class="btn btn-outline-dark" (click)="savePassword(modal)">Salvar</button>
      </div>
    </form>
  </div>

</ng-template>
