.bg-circle {
  background-color: lightblue;
  width: 28px;
  height: 28px;
}

.sizeDiv {
  height: 200px;
}

.quadrado {
  width: 100px;
  height: 100px;
}

.chart-container {
  position: relative;

  height: 100%;
  width: 100%;
}
