<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card" >
        <div class="row p-3">
          <div class="col-2 d-flex flex-column align-items-center" *ngFor="let m of dataList">
            <div class="bg-circle rounded-circle" [ngStyle]="{'background-color': bgColor(m.status)}"></div>
            <div class="rounded-circle">{{m.id}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="chart-container">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"> </canvas>
      </div>
    </div>
  </div>
</div>
