<div class="container">
  <div class="row">
    <div class="col-md-4 col-12 pe-4 text-center">
      <i class="bi bi-person-badge icon-role"></i>
    </div>
    <div class="col-md-8 col-12">
      <form class="row" [formGroup]="roleForm" #formDir="ngForm">
        <h4>Perfil</h4>

        <div class="col-md-12 pb-2">
          <label for="name" class="form-label">Nome</label>
          <input class="form-control" id="name" name="name" formControlName="name">
          <div *ngIf="name?.errors?.['required'] && formDir.submitted" class="text-danger">
            Campo Obrigatório
          </div>
        </div>
        <div class="col-md-12 pb-2 ">
          <label for="permissions" class="form-label">Permissões</label>
            <div class="form-check" *ngFor="let item of permissionList">
              <input class="form-check-input" type="checkbox" value="{{item.id}}" [checked]="item.checked"  (change)="item.checked = !item.checked">
              <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
              </label>
            </div>
          <div *ngIf="isPermissionEmpty && formDir.submitted" class="text-danger">
            Campo Obrigatório
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <button class="btn btn-light" (click)="cancel()">Cancelar</button>
          </div>
          <div class="col d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary" (click)="save()">Salvar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
