<div class="m-2 rounded bg-dot h-100">
  <div class="row g-0">
    <div class="col-md-2 col-12">
      <app-management></app-management>
    </div>
    <div class="col-md-10 col-12">
      <div class="container rounded" id="contentToConvert">
        <div class="row m-0 p-4 text-center">
          <h3>Autores</h3>
          <hr>
        </div>
        <div class="row justify-content-between" data-html2canvas-ignore>
          <div class="col-3">
            <button (click)="exportPDF()" class="btn btn-outline-secondary" *ngIf="authorList.length > 0" title="Exportar em pdf">
              <ng-container *ngIf="!isLoadingPdf; else templateLoad">
                Exportar em PDF
              </ng-container>
              <ng-template #templateLoad>
                <div class="spinner-border text-dark" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </ng-template>
            </button>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-outline-secondary" (click)="newAuthor()" title="Cadastrar novo autor">Cadastrar</button>
          </div>
        </div>
        <div class="row pt-2">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col" data-html2canvas-ignore>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of authorList">
                <td>{{item.id}}</td>
                <td>{{item.name }}</td>
                <td data-html2canvas-ignore>
                  <a href="javascript:;" type="button" (click)="editAuthor(item.id)" title="Editar"> <i
                      class="bi bi-pencil-square"></i></a>
                      <a href="javascript:;" type="button" (click)="deleteAuthor(item.id)" class="ms-2" title="Deletar"> <i class="bi bi-trash3 text-danger"></i></a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



