<div class="container-fluid section1-container">
  <div class="row text-center">
    <h3>BOOKLOVERS</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="m-auto" style="width: 400px;">
        <img class="w-100 mb-5" src="../../../assets/images/logo.png"
          alt="Imagem de um desenho orgânico de uma estante de livros">

      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card p-3">
        <h5 class="m-2">Desafios</h5>
        <div class="m-2">
          <div *ngIf="andamentoList.length > 0">
            <ngb-carousel [interval]="0">
              <ng-template ngbSlide *ngFor="let item of andamentoList">
                <app-card-goal-h [goal]="item"></app-card-goal-h>
              </ng-template>
            </ngb-carousel>
          </div>
          <div *ngIf="andamentoList.length < 1">
            <div class="text-center h-100">
              <p>Nenhum desafio cadastrado</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row m-2 mb-4">
    <div class="col-md-9 col-12 mt-2">
      <div class="card  bg-section2 p-3">
        <h5 class="m-2">Lendo...</h5>

        <div *ngIf="currentWindowWidth >= 800">
          <ngb-carousel [interval]="0">


          <ng-template ngbSlide *ngFor="let books of readingList">
            <div class="row">
              <div class="col-md-6 col-12" *ngFor="let book of books">
                <app-card-box-h [book]="book" [annotation]="book.annotation"
                  [tags]="book.annotation.tags"></app-card-box-h>
              </div>

            </div>
          </ng-template>


        </ngb-carousel>
      </div>

        <div *ngIf="currentWindowWidth < 800">
          <ngb-carousel [interval]="0">


          <ng-template ngbSlide *ngFor="let book of readingListSmall">
            <div class="row">
                <app-card-box-h [book]="book" [annotation]="book.annotation"
                  [tags]="book.annotation.tags"></app-card-box-h>

            </div>
          </ng-template>


        </ngb-carousel>
      </div>


      <div *ngIf="readingListSmall.length < 1 || readingList.length < 1">
        <div class="text-center h-100">
          <p>Nenhuma leitura em andamento</p>
        </div>
      </div>

      </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
      <div class="card bg-section2 p-3">
        <h5 class="my-2">Favoritos</h5>
        <div class="col-12 d-flex justify-content-evenly my-1" *ngFor="let book of favoriteList">
          <app-card-box-mini [book]="book" [annotation]="book.annotation"
            [tags]="book.annotation.tags"></app-card-box-mini>
        </div>
        <div *ngIf="favoriteList.length < 1">
          <div class="text-center h-100">
            <p>Nenhum livro cadastrado</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-section3">
    <h5 class="my-2">Livros Finalizados</h5>
    <div class="col-md-2 col-6 d-flex justify-content-evenly my-1" *ngFor="let book of finishedList">
      <app-card-box-v [book]="book" [annotation]="book.annotation"></app-card-box-v>
    </div>
    <div *ngIf="finishedList.length < 1">
      <div class="text-center h-100">
        <p>Nenhum livro cadastrado</p>
      </div>
    </div>
  </div>
</div>
