<div class="container-explorer mx-4 my-2 rounded">
  <div class="row d-flex justify-content-center p-2">
    <div class="col-md-6">
      <label for="title" class="form-label">Procurar
      </label>
      <div class="d-flex">
        <input type="text" class="form-control" id="title" [(ngModel)]="titleSearch" name="title"
          placeholder="Nome do livro" (keyup.enter)="searchBook()">
        <button class="btn btn-primary ms-2" (click)="searchBook()">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

  </div>
  <div class="row justify-content-center mx-2">
    <aside class="col-md-3 h-75 rounded ">
      <div class="header-filter row rounded">
        <div class="col-9 d-flex align-items-center">
          <h4 class="pt-2">Filtro</h4>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
          <a class="row" title="Adicionar tema" href="javascript:;" (click)="open(content)">
            <i class="bi bi-plus-circle"></i>
          </a>
        </div>
      </div>
      <h5 class="m-2">Temas</h5>
      <a class="row m-2" type="button" title="{{themeSch.name}}" href="javascript:;" *ngFor="let themeSch of themeList"
        (click)="filterSide(themeSch.id)">
        {{themeSch.name}}
      </a>

    </aside>
    <article class="col-md-9 bg-grade">
      <div class="row">
        <div class="col-lg-3 col-6 d-flex justify-content-evenly my-1" *ngFor="let book of bookList">

          <app-card-box-v [book]="book"></app-card-box-v>
        </div>
      </div>
    </article>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Minha Tag</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="col-md-12 pb-2">
          <label for="title" class="form-label text-center">Título
          </label>
          <input type="text" class="form-control" id="title" formControlName="title" name="title" maxlength="50">

        </div>
        <div class="col-md-3 pb-2">
          <label for="title" class="form-label">Color
          </label>
          <input type="color" class="form-control" id="colorInput" formControlName="colorInput" name="colorInput">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salvar</button>
  </div>
</ng-template>
