<div class="card h-100 card-size" style="width: 230px;">
  <div class="row justify-content-end g-0">
    <div class="col-2">
      <!-- <a title="Detalhes do livro" href="javascript:;" (click)="detailBook(book.id)">
            <i class="bi bi-pencil-square"></i>
          </a> -->
    </div>
  </div>
  <div class="row g-0">
    <div class="col-4">
      <img class="card-img-top rounded-circle m-2 img-size" src="{{book.thumbnail}}" alt="thumbnail">
    </div>
    <div class="col-8">

      <div class="card-body p-2">
        <h6 class="card-text text-truncate max-width text-capitalize">{{book.title}}</h6>
        <p class="card-text text-muted text-truncate max-width text-capitalize">
          <ng-container *ngIf="book.authors.length == 0; else elseBlock">
            Não cadastrado
          </ng-container>
          <ng-template #elseBlock>
            <ng-container *ngFor="let author of book.authors">
              {{author.name + "; "}}
            </ng-container>
          </ng-template>
        </p>

      </div>

    </div>

  </div>
</div>
