<nav class="navbar navbar-expand-lg navbar-dark bg-gray">
  <div class="container-fluid text-center">
    <a class="navbar-brand " [routerLink]="['/booklovers/explorer']" >Booklovers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/booklovers/home']">Home</a>
        <a class="nav-link" [routerLink]="['/booklovers/my-books']">Meus livros</a>
        <a class="nav-link" [routerLink]="['/booklovers/explorer']">Explorar</a>
        <a class="nav-link" [routerLink]="['/booklovers/statistic']">Estatísticas</a>
        <a class="nav-link disabled">Disabled</a>
        <a class="nav-link" type="button" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
