<!-- <ngb-toast [autohide]="true" [delay]="5000" *ngIf="isError" class="bg-danger text-light toast"> I am a simple static toast. </ngb-toast> -->
<app-toast-global></app-toast-global>

<div class="container-fluid section1-container my-2 pt-2 rounded">
  <div class="row text-center">
    <h3>BOOKLOVERS</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="m-auto" style="width: 400px;">
        <img class="w-100 mb-5" src="../../../assets/images/logo.png" alt="Imagem de um desenho orgânico de uma estante de livros">

      </div>

    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
      <div *ngIf="!isLogin; else elseBlock" >
        <div class="row fw-semibold">
          <p>Plataforma para gerenciar suas leituras! :)</p>
        </div>
        <div class="row mb-3">
          <button class="btn btn-outline-dark" (click)="open(content)">Cadastre-se</button>
        </div>
        <div class="row text-center">
          <p class="text-muted">Já tem conta? Acesse <a href="javascript:;" type="button" (click)="toggleLogin()">aqui</a></p>

        </div>
      </div>
      <ng-template #elseBlock >
        <form [formGroup]="loginForm" #formDir="ngForm" (keydown.enter)="$event.preventDefault()">
          <div class="col-12 pb-2" style="width: 300px;">
            <label for="username-bl" class="form-label">Usuário
            </label>
            <input type="text" class="form-control" id="username-bl" formControlName="username"
              name="username-bl" maxlength="50">
            <div *ngIf="username?.errors?.['required'] && formDir.submitted" class="text-danger">
              Campo Obrigatório
            </div>
          </div>
          <div class="col-12 pb-2">
            <label for="password-bl" class="form-label">Senha
            </label>
            <input type="password" class="form-control" id="password-bl" formControlName="password"
              name="password-bl" maxlength="50">
            <div *ngIf="password?.errors?.['required'] && formDir.submitted" class="text-danger">
              Campo Obrigatório
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <button class="btn btn-outline-dark" (click)="cancel()">Cancelar</button>
            </div>
            <div class="col d-flex justify-content-end">
              <button type="submit" class="btn btn-dark" (click)="login()">Login</button>
            </div>
          </div>
        </form>
      </ng-template>
      </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadastre-se</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="signupForm" #formDirSnp="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="col-12 pb-2">
        <label for="name_snp" class="form-label">Nome
        </label>
        <input type="text" class="form-control" id="name_snp" formControlName="name_snp"
          name="name_snp" maxlength="50">
        <div *ngIf="name_snp?.errors?.['required'] && formDirSnp.submitted" class="text-danger">
          Campo Obrigatório
        </div>
      </div>
      <div class="col-12 pb-2">
        <label for="email_snp" class="form-label">E-mail
        </label>
        <input type="email" class="form-control" id="email_snp" formControlName="email_snp"
          name="email_snp" maxlength="50">
        <div *ngIf="email_snp?.errors?.['required'] && formDirSnp.submitted" class="text-danger">
          Campo Obrigatório
        </div>
        <div *ngIf="(email_snp?.errors?.['email'] || email_snp?.errors?.['pattern']) && formDirSnp.submitted" class="text-danger">
          Insira um e-mail válido.
        </div>
      </div>
      <div class="col-12 pb-2">
        <label for="username_snp" class="form-label">Usuário
        </label>
        <input type="text" class="form-control" id="username_snp" formControlName="username_snp"
          name="username_snp" maxlength="50">
        <div *ngIf="username_snp?.errors?.['required'] && formDirSnp.submitted" class="text-danger">
          Campo Obrigatório
        </div>
      </div>
      <div class="col-12 pb-2">
        <label for="password_snp" class="form-label">Senha
        </label>
        <input type="password" class="form-control" id="password_snp" formControlName="password_snp"
          name="password_snp" maxlength="50">
        <div *ngIf="password_snp?.errors?.['required'] && formDirSnp.submitted" class="text-danger">
          Campo Obrigatório
        </div>
        <div *ngIf="password_snp?.errors?.['pattern'] && formDirSnp.submitted" class="text-danger">
          A senha deve conter ao menos um número,
          uma letra maiúscula,
          um caracter especial e ter no mínimo 8 caracteres. Não deve conter espaços
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cancelar</button>
        <button type="submit" class="btn btn-dark" (click)="saveUser(modal)">Salvar</button>
      </div>

    </form>
  </div>
</ng-template>




