<div class="container bg-menu-adm rounded p-3">
  <h5>Gerenciamento</h5>
  <a class="nav-link py-1" [routerLinkActive]="['active']" [routerLink]="['/booklovers/adm/report-failure-list']">Relatório de
    falhas</a>
  <a class="nav-link py-1" [routerLinkActive]="['active']" [routerLink]="['/booklovers/permission-list']">Permissões</a>
  <a class="nav-link py-1" [routerLinkActive]="['active']" [routerLink]="['/booklovers/role-list']">Perfis</a>
  <a class="nav-link py-1" [routerLinkActive]="['active']" [routerLink]="['/booklovers/theme-list']">Gêneros</a>
  <a class="nav-link py-1" [routerLinkActive]="['active']" [routerLink]="['/booklovers/author-list']">Autores</a>

</div>
