<div class="container mt-4">
  <div class="badge rounded-pill text-bg-primary" [hidden]="myVar">
    <span>Fantasia</span>
    <i class="bi bi-x badge-hover" (click)="toggleTeste()"></i>
  </div>
  <form class="card bg-card p-4" [formGroup]="bookForm" #formDir="ngForm">
    <div class="row text-center">
      <div class="col-12">
        <h2>Minhas Anotações</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-8 d-flex justify-content-end pe-5">
            <ng-template #t let-fill="fill">
              <i class="bi-star-fill">
                <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
              </i>
            </ng-template>

            <ngb-rating [(rate)]="book.rating" [starTemplate]="t" [readonly]="false" [max]="5"
              [ariaValueText]="ariaValueText"></ngb-rating>
          </div>
          <div class="col-4">
            <ng-template #heart let-fill="fill">
              <i class="bi-heart-fill">
                <i *ngIf="fill > 0" class="bi-heart-fill filled-heart" [style.width.%]="fill"></i>
              </i>
            </ng-template>

            <ngb-rating [(rate)]="book.favorite" [starTemplate]="heart" [readonly]="false" [max]="1"
              [ariaValueText]="ariaValueText"></ngb-rating>
          </div>
        </div>
        <div class="row">
          <img class="w-50 mx-auto" [src]="book.thumbnail" alt="thumbnail">
        </div>
        <div class="row p-4">
          <label for="authors" class="form-label">Sinopse </label>
          <textarea class="form-control" placeholder="Leave a comment here" id="description"
            formControlName="description" style="height: 100px"></textarea>
          <!-- <div [innerHtml]="html_string"></div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 pb-2">
            <label for="title" class="form-label">Título
            </label>
            <div class="input-group">

              <input type="text" class="form-control" id="title" formControlName="title" name="title" maxlength="50">
              <div *ngIf="title?.errors?.['required'] && formDir.submitted" class="msgError">
                Campo Obrigatório
              </div>
              <button type="button" class="btn btn-outline-dark" (click)="open(content)">Ajuda preenc.</button>
            </div>
          </div>
          <div class="col-md-12 pb-2">
            <label for="subtitle" class="form-label">Subtítulo
            </label>
            <input type="text" class="form-control" id="subtitle" formControlName="subtitle" name="subtitle"
              maxlength="50">

          </div>
          <div>
            <label for="author" class="form-label">Autores
              <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Toggle with Function
              </button>
            </label>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <input class="form-control ms-0" placeholder="Adicionar autor..." #authorInput [formControl]="authorCtrl"
                [matChipInputFor]="chipGridAuthor" [matAutocomplete]="autoAuthor"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addAuthor($event)"
                matAutocompletePosition='above' />
              <mat-autocomplete #autoAuthor="matAutocomplete" (optionSelected)="selectedAuthor($event)"
                [displayWith]="displayFnAuthor">
                <ng-container *ngFor="let author of filteredAuthors | async">
                  <mat-option [value]="author" *ngIf="!isAuthorSelected(author)">
                    {{author.name}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>


          </div>
          <div class="mt-1 pb-2">
            <div class="example-chip-list no-wrap card">
              <mat-chip-grid #chipGridAuthor aria-label="Seleção de autores" class="no-wrap">
                <mat-chip-row *ngFor="let author of selectedAuthors" (removed)="removeAuthor(author)">
                  {{author.name}}
                  <button matChipRemove [attr.aria-label]="'remove ' + author">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="publisher" class="form-label">publisher
            </label>
            <input type="text" class="form-control" id="publisher" formControlName="publisher" name="publisher"
              maxlength="50">
            <div *ngIf="authors?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="authors" class="form-label">Data de publicação
            </label>
            <div class="row row-cols-sm-auto">
              <div i18n class="col-12">
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="d2" formControlName="release_dt"
                    ngbDatepicker #d2="ngbDatepicker" />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                    type="button"></button>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="pages" class="form-label">Páginas
            </label>
            <input type="text" class="form-control" id="pages" formControlName="pages" name="pages" maxlength="50">
            <div *ngIf="pages?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="isbn_13" class="form-label">ISBN 13
            </label>
            <input type="text" class="form-control" id="isbn_13" formControlName="isbn_13" name="isbn_13"
              maxlength="14">
            <div *ngIf="id?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>


          <div>
            <label for="isbn_13" class="form-label">Temas
            </label>
            <input class="form-control ms-0" placeholder="Adicionar tema..." #themeInput [formControl]="themeCtrl"
              [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)" matAutocompletePosition='above' />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
              <ng-container *ngFor="let theme of filteredThemes | async">
                <mat-option [value]="theme" *ngIf="!isThemeSelected(theme)">
                  {{theme.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </div>
          <div class="mt-1">
            <div class="example-chip-list no-wrap card">
              <mat-chip-grid #chipGrid aria-label="Fruit selection" class="no-wrap">
                <mat-chip-row *ngFor="let theme of selectedThemes" (removed)="remove(theme)">
                  {{theme.name}}
                  <button matChipRemove [attr.aria-label]="'remove ' + theme">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-4">
      <div class="col">
        <button class="btn btn-light" (click)="cancel()">Cancelar</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-primary" (click)="save()">Salvar</button>
      </div>
    </div>
    <label class="image-upload-container btn btn-bwm">
      <span>Select Image</span>
      <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
    </label>
    <div>
      <input type="text" [(ngModel)]="uploadCover" [ngModelOptions]="{standalone: true}">
      <button (click)="clickUploadCover()">upload</button>
    </div>
  </form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Livros relacionados</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngFor="let bookM of bookListModal">
    <a title="Detalhes do livro" href="javascript:;" (dblclick)="selectedInfo(bookM.id)">
      <app-card-box-mini [book]="bookM"></app-card-box-mini>

    </a>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salvar</button>
  </div>
</ng-template>
