<div class="m-2 rounded bg-dot h-100">
  <div class="row g-0">
    <div class="col-md-2 col-12">
      <app-management></app-management>
    </div>
    <div class="col-md-10 col-12">
      <div class="container rounded">
        <div class="row m-0 p-4 text-center">
          <h3>Permissões</h3>
          <hr>
        </div>
        <div class="row">
          <div class="col-10">
          </div>
          <div class="col-2">
            <button class="btn btn-outline-secondary" (click)="newPermission()">Cadastrar</button>
          </div>
        </div>
        <div class="row pt-2">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Url</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of permissionList">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.url }}</td>
                <td>
                  <a href="javascript:;" type="button" (click)="editPermission(item.id)"> <i
                      class="bi bi-pencil-square"></i></a>
                      <a href="javascript:;" type="button" (click)="deletePermission(item.id)" class="ms-2"> <i class="bi bi-trash3 text-danger"></i></a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
