.i-card-h {
  position: relative;
  display: inline-block;
  font-size: 1.0rem;
  padding-right: 0.1rem;
  letter-spacing: 0.3rem;
  color: #d3d3d3;
}

.filled {
  color: yellow;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filled-heart {
  color: red;

}

.card-img-top{
  max-width: 10rem;
  max-height: 200px;
}

.max-width-b-h{
  max-width: 14rem;
}

.card-size{
  width: 100%;
}

.wrap-text{
  word-wrap:  normal;
}

.my-field.mat-mdc-select-panel {
  background-color: #fffefe;
}


.mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-mdc-text-field-wrapper{
  height: 40px !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
  top:20px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
  padding-top: 10px;
}

.mat-mdc-form-field-subscript-wrapper  {
  display: none;
}



.example-chip-list {
  width: 100%;
  height: 40px;
}

.bg-chip {
  background-color: white;
}

mat-chip {
  display: inline-block;
}

.no-wrap {
  flex-wrap: nowrap;
  overflow: auto;
  display: block;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-wrap::-webkit-scrollbar {
  display: none;
}

.chip-font{
  font-size: 12px;
}
