<div class="container mt-4">
  <form class="card bg-card p-4" [formGroup]="bookForm" #formDir="ngForm">
    <div class="row text-center">
      <div class="col-12">
        <h2 *ngIf="!isNew">Editar as informações do livro
          <a title="Relatar falha/ sugestão" href="javascript:;" (click)="reportFailure()"
               class="ms-1">
               <i class="bi bi-exclamation-triangle text-secondary"></i>
            </a>
        </h2>
        <h2 *ngIf="isNew">Cadastrar livro</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="row text-center">
          <a href="javascript:;" title="Adicionar capa do livro" (click)="collapseThumbnail.toggle()"
            [attr.aria-expanded]="!isCollapsedThumbnail" aria-controls="Adicionar autores">
            <img class="w-50 mx-auto" [src]="book.thumbnail" alt="thumbnail">
          </a>
          <div #collapseThumbnail="ngbCollapse" [(ngbCollapse)]="isCollapsedThumbnail"
            class="row justify-content-center mt-1">
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="uploadCover" [ngModelOptions]="{standalone: true}"
                id="uploadCover" placeholder="Endereço da imagem. Ex: https://...">
            </div>
            <div class="col-2">
              <button class="btn btn-secondary" (click)="clickUploadCover()">Upload</button>
            </div>
          </div>
        </div>
        <div class="row p-4">
          <label for="description" class="form-label">Sinopse </label>
          <textarea class="form-control" placeholder="Escreva um resumo do livro aqui 😄" id="description"
            formControlName="description" style="height: 100px"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 pb-2">
            <label for="title" class="form-label">Título
            </label>
            <div class="input-group">

              <input type="text" class="form-control" id="title" formControlName="title" name="title"
                maxlength="50">
              <button type="button" class="btn btn-outline-dark" title="Ajuda com o preenchimento das informações" (click)="open(content)">Ajuda preenc.</button>
            </div>
            <div *ngIf="title?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>
          <div class="col-md-12 pb-2">
            <label for="subtitle" class="form-label">Subtítulo
            </label>
            <input type="text" class="form-control" id="subtitle" formControlName="subtitle" name="subtitle"
              maxlength="50">

          </div>
          <div>
            <label for="author" class="form-label">Autores
              <a title="Adicionar autores" href="javascript:;" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="Adicionar autores" class="ms-1">
                <i class="bi bi-plus-circle size_iPlus text-primary"></i>
              </a>
            </label>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <input class="form-control ms-0" placeholder="Adicionar autor..." #authorInput [formControl]="authorCtrl"
                [matChipInputFor]="chipGridAuthor" [matAutocomplete]="autoAuthor"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addAuthor($event)"
                matAutocompletePosition='above' />
              <mat-autocomplete #autoAuthor="matAutocomplete" (optionSelected)="selectedAuthor($event)"
                [displayWith]="displayFnAuthor">
                <ng-container *ngFor="let author of filteredAuthors | async">
                  <mat-option [value]="author" *ngIf="!isAuthorSelected(author)">
                    {{author.name}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>


          </div>
          <div class="mt-1 pb-2">
            <div class="example-chip-list no-wrap card">
              <mat-chip-grid #chipGridAuthor aria-label="Seleção de autores" class="no-wrap">
                <mat-chip-row *ngFor="let author of selectedAuthors" (removed)="removeAuthor(author)">
                  {{author.name}}
                  <button matChipRemove [attr.aria-label]="'remove ' + author">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="publisher" class="form-label">Editora
            </label>
            <input type="text" class="form-control text-capitalize" id="publisher" formControlName="publisher"
              name="publisher" maxlength="50">
            <div *ngIf="publisher?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="release_dtn" class="form-label">Data de publicação
            </label>
            <div class="row row-cols-sm-auto">
              <div i18n class="col-12">
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="release_dtn" formControlName="release_dt"
                    ngbDatepicker #release_dtn="ngbDatepicker" removeNgbDpDefaultValidation required/>
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="release_dtn.toggle()"
                    type="button"></button>
                </div>
              </div>
              <div *ngIf="release_dt?.errors?.['required'] && formDir.submitted" class="msgError">
                Campo Obrigatório
              </div>
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="pages" class="form-label">Páginas
            </label>
            <input type="text" class="form-control" id="pages" formControlName="pages" name="pages" maxlength="50">
            <div *ngIf="pages?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>

          <div class="col-md-6 pb-2">
            <label for="isbn_13" class="form-label">ISBN 13
            </label>
            <input type="text" class="form-control" id="isbn_13" formControlName="isbn_13" name="isbn_13"
              maxlength="14">
            <div *ngIf="isbn_13?.errors?.['required'] && formDir.submitted" class="msgError">
              Campo Obrigatório
            </div>
          </div>


          <div>
            <label for="isbn_13" class="form-label">Gênero
            </label>
            <a title="Adicionar gênero" href="javascript:;" (click)="collapseTheme.toggle()"
              [attr.aria-expanded]="!isCollapsedTheme" aria-controls="Adicionar gênero" class="ms-1">
              <i class="bi bi-plus-circle size_iPlus text-primary"></i>
            </a>
            <div #collapseTheme="ngbCollapse" [(ngbCollapse)]="isCollapsedTheme">
              <input class="form-control ms-0" placeholder="Adicionar gênero..." #themeInput [formControl]="themeCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
                matAutocompletePosition='above' />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
                <ng-container *ngFor="let theme of filteredThemes | async">
                  <mat-option [value]="theme" *ngIf="!isThemeSelected(theme)">
                    {{theme.name}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>

          </div>
          <div class="mt-1">
            <div class="example-chip-list no-wrap card">
              <mat-chip-grid #chipGrid aria-label="Fruit selection" class="no-wrap">
                <mat-chip-row *ngFor="let theme of selectedThemes" (removed)="remove(theme)">
                  {{theme.name}}
                  <button matChipRemove [attr.aria-label]="'remove ' + theme">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-4">
      <div class="col">
        <button class="btn btn-light" (click)="cancel()">Cancelar</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-secondary" (click)="save()">Salvar</button>
      </div>
    </div>
    <!-- <label class="image-upload-container btn btn-bwm">
      <span>Select Image</span>
      <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
    </label> -->
  </form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Livros relacionados</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close')"></button>
  </div>
  <div class="modal-body" *ngFor="let bookM of bookListModal">
    <a title="Seleciona um livro" href="javascript:;" (click)="selectedInfo(bookM.id)">
      <app-card-box-md [book]="bookM"></app-card-box-md>
    </a>
  </div>
  <div class="modal-body text-center" *ngIf="bookListModal.length < 1">
    <p>Não encontramos livros com esse título</p>
  </div>
</ng-template>
